.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 30px 20px
  background: #313131
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 25px
  color: #FBFBFB
  span
    font-size: 15px
    cursor: pointer
.attendance
  &_title
    font-family: Roboto
    font-weight: 700
    font-size: 40px
    color: #000000
  &_main
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 30px
  &_choise
    display: flex
    flex-direction: column
    justify-content: start
    align-items: start
    width: 200px
    color: #000
    label
      margin-left: 5px
      cursor: pointer
      font-family: 'Roboto'
  &_input
    width: 200px
    height: 50px
    background: #FFFFFF
    border: 1px solid #CBCBCB
    box-sizing: border-box
    border-radius: 10px
    font-family: Roboto
    font-style: normal
    font-weight: 400
    font-size: 25px
    padding: 8px
    padding-left: 20px

    


  
